<h1>Home#index</h1>
<p>Find me in app/views/home/index.html.erb</p>
<button style="border-radius: 5px;" type="button">
  <%= link_to "Sair", destroy_user_session_path, data: { turbo_method: :delete } %>
</button>